
.themed{
	background: #0669af url("../images/back_purple.jpg") repeat-x left top;
	color: white !important;
	border: 1px solid #e748cf;
}
.themed:hover {
	background: #248bd0 url("../images/back_purple_hover.jpg") repeat-x left top;
}

.header-login {
	height: 35px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	line-height: 35px;
	padding: 0 0 0 10px;
	margin:0;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 14px;
	-moz-box-shadow: 0 0 2px #dddddd;
	-webkit-box-shadow: 0 0 2px #dddddd;
	background: #ececec url("../images/back_h2_box_purple.jpg") repeat-x left top;
	color: white;
	border: 1px solid #8E0F63;
	text-shadow: 0 1px 0 #45042f;
}

.req {
	font-size: 14px;
	font-weight: bold;
	text-transform: capitalize;
	margin: 0 0 2px 0;
	color: #690847;
}
.rem {
	font-size: 12px;
	line-height: 28px;
	color: #690847;
}

#navbar{
	height: 48px;
	background: url("../images/back_navbar_purple.jpg") repeat-x left top; 
	border-top: 1px solid black;
	border-bottom: 1px solid #ffacf2;
	padding: 0 0 0 20px;
}
#navbar ul .active .subbutton{
	background: url("../images/subbutton_active_purple.jpg") repeat-x left top;
	border: 1px solid #d839c0;
	-moz-box-shadow: inset 0 1px 2px black;
}
#navbar ul .active .subbutton:hover{
	background-color: #d839c0;
	border: 1px solid #d839c0;
	-moz-box-shadow: inset 0 1px 2px black;
}
#navbar ul .subbutton:hover{
	background-color: #d839c0;
	-moz-box-shadow: inset 0 1px 2px #707070;
}
#navbar ul .active a{
	color: white;
	text-shadow: 0 1px 0 #2e5306;
}

.ui-sortable-placeholder {
	visibility: visible !important; 
	height: 70px !important;
	background: #ee88e0 !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
 }

#footer {
	background: url("../images/footer.jpg") repeat-x left top;
	padding: 10px 20px;
	height: 27px;
	border-top: 2px solid black;
	margin-top: -49px;
}
.copyright {
	line-height: 27px;
	color: white;
}


.box-header, .child-box-header {
	background: #ececec url("../images/back_h2_box_white.jpg") repeat-x left top;
	height: 35px;
	border: 1px solid #d8d8d8;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	line-height: 35px;
	padding: 0 0 0 10px;
	margin:0;
	text-transform: capitalize;
	font-weight: bold;
	/*cursor: move;*/
	text-shadow: 0 1px 0 white;
	font-size: 14px;
	-moz-box-shadow: 0 0 2px #dddddd;
	-webkit-box-shadow: 0 0 2px #dddddd;
	color: #6b0649;
}

.themed_box .box-header {
	background: #ececec url("../images/back_h2_box_purple.jpg") repeat-x left top;
	color: white;
	border: 1px solid #8e0f63;
	text-shadow: 0 1px 0 #45042f;
}

.themed_box .close {
	background: url("../images/close_purple.png") no-repeat center center;
	border-left: 1px solid #8e0f63;
}

.typo code {
	background: #e7c0da;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
} 

.typo a {
	color: #500336;
	padding: 1px 0;
}
.typo a:hover {
	background: #e7c0da;
	padding: 1px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position: relative;
	left: -5px;
}
select {
	background: #f3f3f3;
	border: 1px solid #e1e1e1;
	padding: 2px;
}

.themed_box  .tabs-nav .tab {
	background: #edb8db;
	border: 1px solid #8e0f63 !important;
	border-bottom: 0 !important;
}
.accordion h3.ui-state-active  {
	background: white url("../images/back_tab_active.jpg") repeat-x left top;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	padding-bottom: 0 !important;
	border-top: 1px solid #d0d0d0 !important;
	border-left: 1px solid #d0d0d0 !important;
	border-right: 1px solid #d0d0d0 !important;
	border-bottom: 0 !important;
	-moz-box-shadow: 0 0 0;
}

.ui-dialog-titlebar {

	background: #ececec url("../images/back_h2_box_purple.jpg") repeat-x left top;
	color: white;
	border: 1px solid #8e0f63;
	text-shadow: 0 1px 0 #45042f;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	font-size:13px;
	font-weight:bold;
	line-height:20px;
	margin:0;
	padding:5px 0;
	text-transform:capitalize;
}
.ui-datepicker .ui-datepicker-header {
	background: url("../images/back_h2_box_purple.jpg") repeat-x left top;
	border: 1px solid #8e0f0f;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	line-height: 20px;
	padding: 5px 0;
	margin:0;
	text-transform: capitalize;
	font-weight: bold;
	text-shadow:0 1px 0 #014B80;
	font-size: 13px;
	color: white;
}
.ui-slider-range {
background: #ba219b;
}
.ui-progressbar-value {
	background: url("../images/back_purple.jpg") repeat-x left top !important;
	border: 0;
	-moz-border-radius: 4px;
}
.title-bar {
	display: block;
	padding: 0 0 32px 0;
	margin-bottom: 15px;
	border-bottom: 2px solid #6B0649;
}
.title-bar .title {
	font-size: 25px;
	line-height: 25px; 
	font-weight:bold;
	color: #6B0649;
}

.required {
	margin-left:10px !important;;
    color: #D40707 !important;
    font-weight: bold !important;
	font-size: 10px;
	background: #E7C0DA;
	padding: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
} 